*,
*::before,
*::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #FF7901;
    --white      : #FFFFFF;
    --white-1    : #F2F2F4;
    --color-4    : #26262E;
    --color-5    : #7D7D7E;
    --gray-4     : #BDBDBD;
}

html {
    font-size: 62.5%;
}

body {
    font-family     : 'Poppins', sans-serif;
    font-size       : 1.6rem;
    font-weight     : 400;
    line-height     : 2.4rem;
    color           : var(--color-4);
    background-color: #FCFBFF;
}

img,
svg {
    vertical-align: middle;
}

button {
    border          : 0;
    background-color: transparent;
    cursor          : pointer;
}

a {
    text-decoration: none;
}

/* common classes */
.grid_container {
    display: grid;
}

.flex_box {
    display  : flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--white);
    border: 1px solid var(--white-1);
    border-radius: 1rem;
}


/* nav start */
.navbar {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    background-color: var(--color-4);
    height          : 9rem;
}

/* sidebar start */
.sidebar {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 22.4rem;
    height          : 100%;
    background-color: var(--color-4);
}


/* main container start */
.main_container {
    width     : 100%;
    min-height: 100vh;
    padding   : 12rem 3rem 3rem 25.4rem;
}

/* cards start */
.cards_wrapper {
    grid-template-columns: 32.5rem auto;
    column-gap           : 3rem;
}

/* user card */
.user_card {
    flex-direction: column;
    align-items   : center;
    padding       : 4rem;
    min-height    : 33.4rem;
}

.user_card img {
    width        : 10rem;
    height       : 10rem;
    border-radius: 50%;
}

.user_card h6 {
    font-weight: 500;
    font-size  : 2rem;
    line-height: 3.8rem;
    text-transform: capitalize;
    margin-top : 1.5rem;
}

.user_card p {
    font-weight: 400;
    font-size  : 1.2rem;
    line-height: 2rem;
    color      : var(--color-5);
}

.user_card p:not(:first-of-type) {
    margin-top: .5rem;
}

/* credits card start */
.credits_card {
    flex-direction : column;
    justify-content: center;
    padding        : 3rem;
}

.credits_card h5 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.credit_cards_wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap           : 3rem;
}

/* credit card */
.credit_card {
    position: relative;
    padding : 3rem;
}

.credit_card button {
    position        : absolute;
    top             : 1rem;
    right           : 1rem;
    width           : 3rem;
    height          : 3rem;
    border-radius   : 50%;
    background-color: var(--white-1);
}

.credit_card h6 {
    font-weight: 500;
    font-size  : 2rem;
    line-height: 3.2rem;
}

.credit_card h6.card_title {
    color: var(--color-5);
}

.credit_card h6.card_number {
    color     : var(--gray-4);
    margin-top: 3rem;
}

/* credit card > default  */
.credit_card.default {
    border-color: var(--brand-color);
}

.credit_card.default button {
    background-color: #FFD7D7;
}

.credit_card.default button svg>path {
    fill: #FF4242;
}

.credit_card.default h6 {
    color: var(--color-4);
}


/* user customizations start */
.user_customizations {
    padding   : 3rem 0 5rem;
    margin-top: 3rem;
}