*,
*::before,
*::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #FF7901;
    --white      : #FFFFFF;
    --white-1    : #F2F2F4;
    --color-4    : #26262E;
    --color-5    : #7D7D7E;
    --gray-4     : #BDBDBD;
}

html {
    font-size: 62.5%;
}

body {
    font-family     : 'Poppins', sans-serif;
    font-size       : 1.6rem;
    font-weight     : 400;
    line-height     : 2.4rem;
    color           : var(--color-4);
    background-color: #FCFBFF;
}

img,
svg {
    vertical-align: middle;
}

button {
    border          : 0;
    background-color: transparent;
    cursor          : pointer;
}

a {
    text-decoration: none;
}

/* common classes */
.grid_container {
    display: grid;
}

.flex_box {
    display  : flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--white);
    border          : 1px solid var(--white-1);
    border-radius   : 1rem;
}


/* nav start */
.navbar {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    background-color: var(--color-4);
    height          : 9rem;
}


/* sidebar start */
.sidebar {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 22.4rem;
    height          : 100%;
    background-color: var(--color-4);
}


/* main container start */
.main_container {
    width     : 100%;
    min-height: 100vh;
    padding   : 12rem 3rem 3rem 25.4rem;
}

/* cards start */
.cards_wrapper {
    grid-template-columns: 32.5rem auto;
    column-gap           : 3rem;
}

/* user card */
.user_card {
    flex-direction: column;
    align-items   : center;
    padding       : 4rem;
    min-height    : 33.4rem;
}

.user_card img {
    width        : 10rem;
    height       : 10rem;
    border-radius: 50%;
}

.user_card h6 {
    font-weight   : 500;
    font-size     : 2rem;
    line-height   : 3.8rem;
    text-transform: capitalize;
    margin-top    : 1.5rem;
}

.user_card p {
    font-weight: 400;
    font-size  : 1.2rem;
    line-height: 2rem;
    color      : var(--color-5);
}

.user_card p:not(:first-of-type) {
    margin-top: .5rem;
}


/* credits card start */
.credits_card {
    flex-direction : column;
    justify-content: center;
    padding        : 3rem;
}

.credits_card h5 {
    font-weight   : 500;
    font-size     : 2.4rem;
    line-height   : 3rem;
    text-transform: capitalize;
    margin-bottom : 1rem;
}

.credit_cards_wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap           : 3rem;
}

/* credit card */
.credit_card {
    position: relative;
    padding : 3rem;
}

.credit_card button {
    position        : absolute;
    top             : 1rem;
    right           : 1rem;
    width           : 3rem;
    height          : 3rem;
    border-radius   : 50%;
    background-color: var(--white-1);
}

.credit_card h6 {
    font-weight: 500;
    font-size  : 2rem;
    line-height: 3.2rem;
}

.credit_card h6.card_title {
    color: var(--color-5);
}

.credit_card h6.card_number {
    color     : var(--gray-4);
    margin-top: 3rem;
}

/* credit card > default  */
.credit_card.default {
    border-color: var(--brand-color);
}

.credit_card.default button {
    background-color: #FFD7D7;
}

.credit_card.default button svg>path {
    fill: #FF4242;
}

.credit_card.default h6 {
    color: var(--color-4);
}


/* user customizations start */
.user_customizations {
    padding   : 3rem 0 5rem;
    margin-top: 3rem;
}

/* tabs */
.user_customizations nav {
    display        : flex;
    justify-content: center;
    border-bottom  : 2px solid var(--white-1);
}

.user_customizations nav a {
    display    : inline-block;
    font-weight: 500;
    font-size  : 1.6rem;
    line-height: 2.8rem;
    color      : var(--color-4);
    padding    : 1rem 1.6rem;
    position   : relative;
    transition : color .15s ease-in-out;
}

.user_customizations nav a:hover,
.user_customizations nav a.active {
    color: var(--brand-color);
}

.user_customizations nav a.active::before {
    content         : '';
    position        : absolute;
    left            : 0;
    bottom          : -1px;
    width           : 100%;
    height          : 2px;
    background-color: var(--brand-color);
}

/* tab contents */
.tab_contents_wrapper {
    width      : 100%;
    max-width  : 100rem;
    margin     : 0 auto;
    padding-top: 5.3rem;
}

/* label */
.email_notificaiton_form label {
    font-weight: 500;
    font-size  : 1.6rem;
    line-height: 3.2rem;
    color      : var(--color-5);
}

.email_notificaiton_form label span {
    color: var(--brand-color);
}

/* checkbox */
.check_wrapper {
    display              : grid;
    grid-template-columns: 5rem auto;
    align-items          : center;
    column-gap           : 2rem;
    margin-bottom: 3rem;
}

.check_wrapper input[type=checkbox] {
    display            : inline-block;
    width              : 5rem;
    height             : 3rem;
    vertical-align     : top;
    background-color   : var(--white);
    background-image   : url("../images/ellipse-yellow.svg");
    background-repeat  : no-repeat;
    background-position: left .5rem center;
    background-size    : 2rem;
    border             : 1px solid var(--brand-color);
    border-radius      : 3rem;
    padding            : .5rem;
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    transition         : background-position .15s ease-in-out;
}

.check_wrapper input:checked[type=checkbox] {
    background-color   : var(--brand-color);
    background-image   : url("../images/ellipse-white.svg");
    background-position: right .5rem center;
}

.check_wrapper input:checked[type=checkbox]~label {
    color: var(--color-4);
}


/* check with inputs */
.check_inputs_wrapper {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: var(--white-1);
    padding     : 3rem 0;
}

.inputs_wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap           : 3rem;
    margin-left          : 7rem;
}

.input_wrapper label {
    margin-bottom: 1rem;
}

.input_wrapper input {
    width        : 100%;
    font-weight  : 400;
    font-size    : 1.6rem;
    line-height  : 3.2rem;
    color        : var(--color-4);
    border       : 1px solid var(--white-1);
    border-radius: 1rem;
    padding      : 1.4rem 2rem;
    outline      : none;
    transition   : border .15s ease-in-out;
}

.input_wrapper input::placeholder {
    color: var(--gray-4);
}

.input_wrapper input:hover,
.input_wrapper input:focus-visible {
    border-color: var(--brand-color);
}

/* submit button */
.email_notificaiton_form .btn_submit {
    font-weight  : 500;
    font-size    : 1.6rem;
    line-height  : 2.8rem;
    color        : var(--white);
    background   : var(--brand-color);
    box-shadow   : 0px 20px 50px rgba(255, 121, 1, 0.3);
    border-radius: .5rem;
    padding      : 1rem 1.6rem;
    margin-top   : 3rem;
}